@use "./partials/queries" as q;

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f7ff;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0.5em 0em 0em 0em;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff692d;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
  h1 {
    font-size: 5em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    // transform: rotate(8deg) scale(1.2) skew(24deg) translate(-100px, 18px);
  }
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff692d;
  z-index: -10;
  text-align: center;
  line-height: 90vh;
  h1 {
    font-size: 5em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    // transform: rotate(8deg) scale(1.2) skew(24deg) translate(-100px, 18px);
  }
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  @include q.phone {
    margin: 0em 1em 0em 1em;
  }

  @include q.tablet {
    height: 70%;
    margin: 2em 2em 1em 2em;
  }

  @include q.laptop {
    margin: 2vh 4vw 0vh 4vw;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 20vh;
  padding-bottom: 10px;
  background: #ff692d;
  background: linear-gradient(0deg, #ff692d 0%, #ff692d 45%, #ffa82e 90%);
  border-radius: 62px 0px 0px 0px;
  box-shadow: 10px 15px 17px 2px rgba(0, 0, 0, 0.75);

  @include q.phone {
    height: 20vh;
  }

  @include q.L-phone {
    height: 17vh;
  }

  @include q.tablet {
    height: 20vh;
    width: 90vw;
  }

  @include q.laptop {
    height: 25vh;
    width: 80vw;
  }

  h1 {
    padding-top: 0vh;
    margin-bottom: 0em;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    // transform: rotate(8deg) scale(1.2) skew(24deg) translate(-200px, 18px);

    @include q.phone {
      font-size: 3em;
    }

    @include q.L-phone {
      font-size: 3.5em;
    }

    @include q.tablet {
      font-size: 5em;
    }

    @include q.laptop {
      font-size: 4em;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0em 1em 1em 1em;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
      height: fit-content;
      padding-bottom: 1em;
      padding-top: 0em;

      @include q.phone {
        font-size: 1.19em;
        padding-top: 1em;
      }

      @include q.L-phone {
        font-size: 1.3em;
      }

      @include q.tablet {
        font-size: 1.75em;
        padding-top: 0px;
      }

      @include q.laptop {
        font-size: 1.75em;
        padding-top: 0px;
      }
      // &:hover {
      //   transform: rotate(8deg) scale(1.3) skew(11deg);
      //   transition: all 0.2s ease;
      // }
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95vw;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 0px 0px 62px 0px;
  box-shadow: 10px 25px 17px 2px rgba(0, 0, 0, 0.75);

  @include q.phone {
    height: 70vh;
    justify-content: space-between;
  }

  @include q.L-phone {
    height: 76vh;
  }

  @include q.tablet {
    height: 70vh;
    width: 90vw;
  }

  @include q.laptop {
    height: 65vh;
    width: 80vw;
  }
}

.side {
  height: 100%;
  width: 15%;
  background-color: #ffffff;

  @include q.phone {
    background-color: #ffffff;
    width: 0%;
  }

  @include q.laptop {
    width: 20%;
  }
}

#right {
  border-radius: 0px 0px 62px 0px;
}

#left {
  background-color: #ffffff;
  @include q.phone {
    background-color: #ffffff;
  }
}

.inner {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  @include q.phone {
    border-radius: 0px 0px 62px 0px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 10% 0% 10%;

  @include q.phone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0% 5% 0% 5%;
  }

  @include q.L-phone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0% 5% 0% 5%;
  }

  @include q.tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0% 5% 0% 5%;
  }

  @include q.laptop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0% 5% 0% 5%;
  }

  &--contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include q.laptop {
      flex-direction: row;
    }
  }
  &--proj {
    flex-direction: column;
    @include q.laptop {
      flex-direction: row-reverse;
    }
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;

  @include q.phone {
    font-size: 0.85em;
  }

  @include q.L-phone {
    font-size: 1.15em;
  }

  @include q.tablet {
    font-size: 1.15em;
    padding-top: 0px;
  }

  @include q.tablet-land {
    font-size: 1em;
    padding-top: 0px;
  }

  @include q.laptop {
    font-size: 1em;
    padding-top: 0px;
  }
}

#text {
  display: flex;
  flex-direction: row;
  @include q.L-phone {
    flex-direction: column;
    align-items: flex-start;
  }
  @include q.tablet {
    flex-direction: row;
  }
  @include q.laptop {
    flex-direction: row-reverse;
    margin-right: 2em;
  }
}

#btn {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  margin-top: 1em;
  max-width: 30vw;
  max-height: 50vh;
  animation: myAnim 2s ease 0s 1 normal forwards;
  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.button {
  background-color: #ff692d;
  color: #f8f7ff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border: none;
  border-radius: 30px;
  &--proj {
    height: 3em;
    width: 10em;

    @include q.phone {
      font-size: 1em;
      height: fit-content;
      padding: 0.2em 0.5em 0.2em 0.5em;
      margin-bottom: 0.25em;
    }

    @include q.L-phone {
      font-size: 1em;
      padding: 0.5em 0em 0.5em 0em;
      margin-bottom: 0.75em;
      max-width: 40vw;
    }

    @include q.laptop {
    }
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 1em;
  margin-bottom: 0em;
  @include q.tablet {
    font-size: 1.5em;
  }
}

.icon {
  height: 10vh;
  color: #ff692d;
  @include q.L-phone {
    height: 7vh;
  }
  @include q.laptop {
    height: 10vh;
  }
}

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.5em;
  @include q.tablet {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  @include q.laptop {
    font-size: 1em;
    margin-left: 1em;
  }
  label {
    margin: 0;
    @include q.L-phone {
      margin: 0.5em;
    }
  }
  input {
    margin: 0;
    height: 1em;
    @include q.L-phone {
      height: 1.5em;
    }
  }
  textarea {
    width: 80%;
    height: 40%;
  }
  .button--submit {
    margin-top: 0.5em;
  }
}

#proj-pic {
  @include q.phone {
    max-height: 30vh;
    max-width: 80vw;
  }

  @include q.tablet {
  }

  @include q.tablet-land {
  }

  @include q.laptop {
  }

  @include q.desktop {
  }
}

#weblinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include q.L-phone {
    margin-top: 5em;
  }
  @include q.tablet {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
}

#portrait {
  @include q.phone {
    max-height: 40vh;
    max-width: 50vw;
  }
  @include q.L-phone {
    max-height: 50vh;
    max-width: 60vw;
  }

  @include q.tablet {
    max-height: 30vh;
  }

  @include q.laptop {
    margin-right: 3em;
    max-width: 40vw;
    max-height: 50vh;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.5;
  margin-top: 0.25em;
  padding: 0.5em 0em 0.5em 0.5em;
  border-radius: 5px 5px 5px 5px;
  max-width: 70%;
  height: 1em;
  p {
    margin: 0;
    @include q.L-phone {
      font-size: 1em;
    }
  }
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  img {
    @include q.phone {
      max-height: 10vh;
      max-width: 10vw;
    }
    @include q.L-phone {
    }

    @include q.tablet {
    max-height: 5vh;
    max-width: 5vw;
  }

    @include q.laptop {
      max-height: 5vh;
    max-width: 5vw;
    }
  }
}
